Telethon
telethon-session-sqlalchemy
setuptools
wheel
aiohttp
python-dotenv
beautifulsoup4
hachoir
heroku3
PyGithub
python-barcode
pyTelegramBotAPI==3.7.7
sqlalchemy==1.3.23
sqlalchemy-json
ujson
TgCrypto
ffmpeg-python
gitpython
pyminizip
pybase64
html-telegraph-poster
humanize
jotquote
justwatch
kwot
lottie
lxml
jikanpy
lyricsgenius
markdown
motor
patool
Pillow
prettytable
programmingquotes
psutil
psycopg2
pyfiglet
